@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../assets/fonts/montserrat/fonts.scss');
@import url('../../node_modules/react-multi-carousel/lib/styles.css');

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: auto;
}

.card__figure {
  overflow: hidden;

  img {
    transition: transform .5s ease;
  }
}

.card__figure:hover {
  img {
    transform: scale(1.1);
  }
}
